.footer {
	padding: 48px 0;
	text-align: center;
	background-color: #3c3c3c;
	&-conteiner {
	}

	&-logo {
		margin-bottom: 40px;
	}

	&-img {
		margin: 0 auto;
	}

	&-nav {
		margin-bottom: 35px;
	}

	&-captcha {
		font-size: 14px;
		line-height: 1.2;
		color: #6c6c6c;
	}
}
.nav-footer {
	&-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin-right: 22px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&-link {
		font-size: 14px;
		line-height: 1.2;
		color: #a4a4a4;
		transition: color 0.3s linear;
		&:hover {
			color: lighten($color: #a4a4a4, $amount: 20);
		}
	}
}
